.header{
  font-size: 30px;
  font-family: "Inter";
  font-style: italic ;
  margin-top: 1%;
  font-weight: 800;
 color: #1BD768;

}
.header1{
  font-size: 22px;
  font-family: "Inter";
  font-style: normal;
  margin-top: 1%;
  font-weight: 800;
  padding: 1.5%;
  color:  #FF7EAA;
}